:root {
    --color-primary: #f57c00;
    --color-secondary: #942a09;
}
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: initial;
}
.mid-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-center {
    text-align: center;
}

.w-max {
    width: max-content;
}
.text-lg {
    font-size: 1.5rem;
    font-weight: bold;
}
.hidden {
    display: none;
}
header {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 1rem;
    text-align: center;
    justify-content: space-between !important;
}

.spinner-wrapper {
    margin-top: 100px;
}

.spinner-wrapper img {
    width: 50px;
    height: 50px;
    display: none;
    margin: auto;
    animation: spinner 1s linear 1s infinite;
    transition: 0.1s;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
